<style>
    body {
        background-color: cornflowerblue;
    }
    h1 {
        color:red
    }
    .portrait {
        width: 300px;
        height: 400px;
    }
    div {
        border-style: inset;
        border-width: 20px;
        border-color: rgba(87, 98, 196, 0.863);
        padding-left: 30px;
    }
    .center {
        text-align: center;
    }
</style>